.main {
    background-color: papayawhip;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    text-align: center;
}

.topnav {
    background-color:black;
    overflow: hidden ;
  }

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav a.active {
    background-color:#c6889d;
    color: white;
  }

.topnav .icon {
    display: none;
  }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

#container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    align-content: normal;
}

.box {
    padding:1em;
    text-align:justify;
    flex-basis: 400px;
    align-self: start;
}

.box1{
    width:300px;
    background-color: #c6889d;
    align-self: center;
    text-align: center;
    padding-top: 13em;
    padding-bottom: 13em;
    padding-right: 5em;
    padding-left: 5em;
}
h1#course {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#container2 {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.exp {
    padding:2em;
    text-align:justify;
    flex-basis: 400px;
    align-self: start;
}
@media screen and (min-width: 767px) {
    #iras {
        width:100%;
        background-image: url(Images/iras.JPG);
        background-size: cover;
        background-attachment: fixed;
        height: 700px;
  }
}
@media screen and (max-width: 766px) {
    #iras {
        width: 100%;
        height: 300px;
        background-image: url(Images/iras.JPG);
        background-size: contain;
    }
  }
#container3 {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #c6889d;
}

.smu {
    padding:2em;
    text-align:justify;
    flex-basis: 400px;
    align-self: start;
    color: white;
}

.port {
    padding:2em;
    text-align:justify;
    flex-basis: 500px;
    align-self: start;
}

.exit {
    text-align: center;
    font-style: italic ;
    color: #c6889d;
}

#container4 {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
}

.footer {
    background-color: black;
    bottom: 0;
    text-align: center;
    font-style: italic;
    padding: 1em;
}
.footer a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
.footer  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
.footer  a:hover {
    color:white;
    background-color: #c6889d;
    text-decoration: underline;
    padding: 1em;
  }
.footer a:active {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
  }